#map {
    width: 50%;
    height: 400px;
    align-content: center;
}

h2 {
    text-align: center;
}
#cityname {
    text-align: center;
}
#current-weather {
    text-align: center;


}
body {
    background-image: linear-gradient(#306e96, white);

}