#map {
    width: 50%;
    height: 400px;
    align-content: center;
    /*background-image: linear-gradient(#4a67e0, white);*/
}

h2 {
    text-align: center;
}
#cityname {
    height: 250px;
    text-align: center;
    font-size: 30px;
}
#current-weather {
    text-align: center;

}

.col-card {
    /*border: 1px solid black;*/


}

body {
    background-image: linear-gradient(#4a67e0, white);
    /*Come back and add font changes*/

}

#card1{
    align-content: center;
    /*width: 180px;*/


}
