#map {
    width: 50%;
    height: 400px;
    align-content: center;
    /*background-image: linear-gradient(#4a67e0, white);*/
    border-radius: 2rem;
}

h2 {
    text-align: center;
}
#city-name {
    height: 250px;
    text-align: center;
    font-size: 30px;
}
#current-weather {
    text-align: center;

}

.col-card {
    /*align-content: center;*/
    /*border: 1px solid black;*/
    /*border-radius: 4rem;*/

}

body {
    background-image: linear-gradient(#4a67e0, white);
    /*Come back and add font changes*/

}

#card1{

    /*!*width: 180px;*!*/
    border-radius: 5rem;


}
